.box {
	width: 100px;
	height: 100px;
	background-color: white;
	border: 2px solid black;
	display: inline-block;
	margin: 15px;
	float: left;
}

.box-container {
	margin: 20px;
	padding: 20px;
	border: 1px solid grey;
	background-color: lightblue;
	border-radius: 5px;
}

.box-container ul {
	display: inline-block;
	float: left;
}

.clearfix {
  overflow: auto;
}

li.incomplete {
	color: red;
}

li.complete {
	color: blue;
}

.box-container ul li img {
	height: 1em;
	width: 1em;
	margin: 0 0 0 .5em;
	padding: 0;
	display: inline;
	border: none;
}

.box-container ul li.incomplete img {
	display: none;
}